version: '3.8'

services:
  db:
    image: postgres:17
    container_name: postgresql
    environment:
      POSTGRES_DB: traffic-report
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"